# x402
PAYMENT_RECIPIENT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_FACILITATOR_URL=https://facilitator.x402.org

# AI
GEMINI_API_KEY=

# Auth
JWT_SECRET=tap-dev-secret-change-in-production

# Base Sepolia
NEXT_PUBLIC_CHAIN_ID=84532
NEXT_PUBLIC_USDC_ADDRESS=0x036CbD53842c5426634c4923a9dFCA9f03Cc8540
